.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  flex: 0.75;
  padding-left: 10px;
  padding-right: 10px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__image__wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

.checkoutProduct__image,
.checkoutProduct__image_skeleton {
  object-fit: contain;
  width: 130px;
  align-items: center;
  /* height: 180px; */
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

@media (max-width: 550px) {
  .checkoutProduct {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .checkoutProduct__image,
  .checkoutProduct__image_skeleton {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .checkoutProduct__image {
    width: 60%;
  }
  .checkoutProduct__image_skeleton {
    width: 100%;
  }

  .checkoutProduct__title,
  .checkoutProduct__rating,
  .checkoutProduct__price {
    margin-top: 10px;
  }
}
