.order {
  padding: 20px 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__items > *:first-child {
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}

.order__items > * {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.order__id {
  color: #666;
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 550px) {
  .order__id {
    position: inherit;
    top: unset;
    right: unset;
  }
  .order h2, p.order__id, p.order__date {
    margin-top: 5px;
  }
}
